.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    width:15px;
    height:15px;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    position: absolute;
}