.alt-header__column {
    margin-top: 1%;

}

.settings-list {
    margin-top: 10%;
}

.settings-list__setting {
    padding: 30px 5px;
    border-bottom: var(--main-border);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.settings-list__setting i {
    margin-right: 10px;
    opacity: 0.8;
}
.settings-list__setting-column {
    opacity: 0.5;
    font-size: 15px;


}